<div>
    <div class="row">
        <div class="col-xs-9">
            <h1>Book Genres</h1><br />
        </div>
        <div class="col-xs-3 text-right" style="padding-top: 35px;">
            <a href="" ui-sref="addGenre"><span class="glyphicon glyphicon-plus"></span> Add New Genre</a>
        </div>
    </div>

    <div class="panel panel-default" ng-if="selectedGenre">
      <div class="panel-heading">
        <div class="text-right">
            <a href="" ng-click="closeDetails()">Close <span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <h3 class="panel-title">
            {{selectedGenre.title}}
        </h3>
        <i>By {{selectedGenre.author | formatName}}</i>
      </div>
      <div class="panel-body">
        <p>{{selectedGenre.description}}</p>

        <strong>Length:</strong> {{selectedGenre.pageLength}} pages<br />
        <strong>Published Date:</strong> {{selectedGenre.publicationDate | formatLongDate}}<br />
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <td>Title</td>
          <td>Author</td>
          <td>Publication Date</td>
          <td class="text-right">Actions</td>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="genre in genresList">
            <td>{{genre.title}}</td>
            <td>{{genre.author | formatName}}</td>
            <td>{{genre.publicationDate | formatShortDate}}</td>
            <td class="text-right">
                <a href="" ng-click="selectGenre(genre)">Details</a>
                <a class="btn btn-xs btn-default" ui-sref="editGenre({ id: genre.id })"><span class="glyphicon glyphicon-pencil"></span></a> 
                <a class="btn btn-xs btn-danger" ng-click="deleteGenre(genre.id)"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>
          <tr ng-if="!genresList.length">
            <td colspan="4">
                No Books in Inventory.  <a href="" ui-sref="addGenre">Add one now.</a>
            </td>
          </tr>
      </tbody>
    </table>
</div>